
/* LOGIN PAGE */

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.login-box {
    background: rgba(255, 255, 255, 0.498);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, sans-serif;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-box button {
    background: #3b95d9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.login-box button:hover {
    background: #5ab1b9;
}