*,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* NAVBAR */
.container-navbar {
  background-color: #3e64ab;
  width: 100%;
  height: 9vh;
}

.ul-navbar {
  font-family: Arial;
  display: flex;
  height: 65px;
  justify-content: left;
  align-items: center;
}
.li-navbar {
  list-style-type: none;
  padding: 15px;
  margin: 5px;
  color: white;
  font-size: 15px;
}
.li-navbar:hover {
  background-color: rgb(59, 116, 147);
  transition: 0.3s ease-in-out;
  transition-delay: 0.3s;
  border-radius: 7px;
  cursor: pointer;
}
.a-navbar{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
}

/* CONTENT */
.container-content {
  background-color: #6ca0c2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.a-content {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 20px;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.img-content {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 270px;
  height: 270px;
}

/* FOOTER */
.container-footer {
  height: 6vh;
  background-color: rgb(30, 100, 157);
  display: flex;
  justify-content: center;
  align-items: center;
}
.h-footer {
  font-size: 15px;
  color: white;
}

/* DOKUMENTASI */
.ul-dokum {
  font-family: Arial;
  color: rgb(0, 0, 0);
  height: 10%;
  justify-content: center;
}
.teks-dokum {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.container-dok {
  height: 100vh;
}

.row-dokum {
  text-align: center;
}

.grid-dokum {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 5px;
  align-items: center;
  justify-content: center;
  grid-gap: 20px; 
}

.dokum-img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* PLAYLIST */
.row {
  text-align: center;
}
.playnew-title {
  text-decoration: none;
  margin-top: 1rem;
  color: black;
}
.row .playnew-img .playnew-title {
  margin-top: 5rem;
}
.playnew-img {
   box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.ul-playlist {
  font-family: sans-serif;
  background-color: #ffffff;
  color: black;
  height: 15%;
  justify-content: center;
}
.teks-playlist {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.container-playlist {
  height: 100vh;
  background-color: #ffffff;
}

.container-ply {
  height: 100vh;
  background: #ffffff;
}
.grid-ply {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 5px;
  align-items: center;
  justify-content: center;
  grid-gap: 20px; 
}

/* Spotify */
.spotify {
  text-decoration: none;
  margin-top: 1rem;
  text-align: center;
}
.row-spotify {
  text-align: center;
}
.spotify-title {
  text-decoration: none;
  margin-top: 1rem;
  color: black;
}

/* ISI LAGU */
.container-vidio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.grid-vidio{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  margin: 0px;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}
.border-vidio {
  object-fit: cover;
  width: 300px;
  height: 300px;
}
.border-vidio {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* ABOUT WE */
.about-we {
  font-family: Arial;
  text-align: center;
  margin-top: 2rem;
  color: #000000;
} 

.teks-isi {
  font-family: Arial;
  text-align: center;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
  color: #000000;
}